<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d456_mount">
  <xacro:arg name="parent_frame" default="base_link"/>
  <xacro:arg name="camera_frame" default="camera_link"/>
  <xacro:arg name="x" default="0.32"/>
  <xacro:arg name="y" default="0.0"/>
  <xacro:arg name="z" default="0.85"/>
  <xacro:arg name="roll" default="0.0"/>
  <xacro:arg name="pitch" default="-0.0872664626"/>
  <xacro:arg name="yaw" default="0.0"/>
  <link name="$(arg parent_frame)"/>
  <link name="$(arg camera_frame)"/>
  <joint name="d456_mount_joint" type="fixed">
    <parent link="$(arg parent_frame)"/>
    <child link="$(arg camera_frame)"/>
    <origin xyz="$(arg x) $(arg y) $(arg z)"
            rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </joint>
</robot>

